<form action='/output'>
  <div class="form-group style">
    <label for="sentence">Enter your word or Sentence</label>
    <input id="sentence" name="sentence" class="form-control" type="text">

  <label for="word"> Enter a Word to see if has the match </label>
  <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
